
# MongoDB Connection String
# For Render or production, use the following Atlas URI:
MONGODB_URI=mongodb+srv://eswar:0DGvxNXN2HH22rHC@cluster0.eupdq4t.mongodb.net/whatsapp?retryWrites=true&w=majority&appName=Cluster0

# Node Environment
NODE_ENV=development

# Server Port (optional, defaults to 5000)
PORT=5000 